.container__header {
  background-color: var(--color-grey-1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:  3rem 0;
  height: 300px;
}


.header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}


img {
  width: 80px;
  height: 80px;
  border: solid 2px var(--color-brand-2);
  border-radius: 100%;
  object-fit: fill;
}


.header__user > h2 {
  color: var(--color-grey-7);
  font-size: 1.45rem;
  font-weight: 700;
}

.container__header > button {
  background-color: var(--backg-btn-profile);
  border: none;
  color: var(--color-grey-7);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  border-radius: var(--radius-card);
}



.container__main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.main__list {
  border: solid 1px orangered;
  width: 51.25rem;
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  /* padding: 1rem; */
}


.list--card {
  border: solid 0.125rem var(--color-place-tx-card);
  width: 397px;
  height: 230px;
  padding: 1.3rem;
  border-radius: var(--radius-card);
  color: var(--color-place-tx-card);
  font-size: 0.875rem;
  gap: 1rem;
}


.list--card > h3 {
  color: var(--color-grey-7);
  font-size: 1.25rem;
  font-weight: 500;
}